.block.banners {
  max-width: var(--layout-container-width);
  margin-right: auto;
  margin-left: auto;
}

.banners-row {
  max-width: var(--default-container-width);
  display: flex;
  margin-right: auto;
  margin-left: auto;
  gap: clamp(1rem, 1vw, 3rem);
}

@media (max-width: 600px) {
  .block.banners .banners-row {
    flex-direction: column;
    gap: 1rem;
  }
}

.banner-column {
  flex: 1;
}

.banner-column img {
  width: 100%;
  height: auto;
}

.block.banners .banners-row .banner-column a.external:after {
  display: none !important;
  content: none !important;
}
