@media (max-width: 767px) {
  .imagem-texto-block-wrapper {
    .container {
      width: 500px !important;
      flex-direction: column !important;
      .container-image {
        img {
          height: 360px !important;
        }
      }
    }
  }
}

@media (max-width: 480px) {
  .imagem-texto-block-wrapper {
    .container {
      .container-image {
        img {
          height: 200px !important;
        }
      }
    }
  }
}

.imagem-texto-block-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #ededed;
  color: #333333;
  &.grey {
    background-color: #ededed;
  }
  &.transparent {
    background-color: transparent;
  }
  .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px 60px;
    font-size: 16px;
    gap: 48px;
    &.reverse {
      flex-direction: row-reverse;
    }
    .container-image {
      img {
        height: 200px;
      }
      figcaption {
        padding: 0.5rem 0.6rem 0.3rem 0.6rem;
        margin: 0 auto;
        font-size: 14px;
      }
    }
    .container-text {
      align-items: center;
      justify-content: center;
    }
  }
}
