.menu-hamburger-container {
  position: relative;

  .menu-hamburger-toggler {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    z-index: 101;

    i {
      color: #1a7235;
      padding: 10px;
      border-radius: 50%;

      &:hover {
        background-color: #dfeacd;
      }
    }
  }

  .menu-hamburger-content {
    position: fixed;
    top: 240px;
    left: 0;
    width: 100vw;
    background: #ededed;
    display: flex;
    flex-direction: column;
    z-index: 100;
    transition: padding-left 0.3s ease;

    .menu-hamburger-levels {
      display: flex;
      flex-direction: row;
      width: 100%;
    }

    .menu-hamburger-list {
      list-style: none;
      margin: 0;
      padding: 10px 0px 10px 10px;
      width: 20%;
      background: #f9f9f9;
      border-right: 1px solid #CCCCCC;
      overflow-y: auto;

      .menu-hamburger-item {
        margin: 10px 0;
        cursor: pointer;

        a {
          text-decoration: none;
          color: black;
          display: flex;
          justify-content: space-between;
          align-items: center;
        }

        .fa-chevron-right {
          margin-left: 10px;
          font-size: 12px;
          color: #666;
          padding-right: 10px;
        }

        &:hover {
          background-color: #10336d;

          a {
            color: white;

            .fa-chevron-right {
              color: white;
            }
          }
        }
      }
    }
  }
}