@media (max-width: 767px) {
  .acess-wrapper {
    display: none !important;
  }
}

.acess-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 10px;
  padding-right: 15px;
  padding-bottom: 10px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.acess-ul {
  display: flex;
  flex-direction: row;
  padding: 0; /* Remove o recuo padrão */
  margin: 0; /* Remove a margem padrão */
  gap: 20px;
  list-style-type: none;
}

.acess-ul > * {
  color: #1a7235;
  font-size: 12px;
}

.acess-ul > * :hover {
  color: #f8f8f8;
  cursor: pointer;
}

.acess-left > * > * {
  font-size: 16px;
}

@media (min-width: 768px) {
  .acess-wrapper {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .acess-wrapper {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .acess-wrapper {
    width: 1170px;
  }
}
