@media screen and (max-width: 768px) {
  .rodape__mapa-site {
    flex-direction: column;
  }
  .rodape__mapa-site__item {
    padding-bottom: 30px;
  }
}

.rodape__mapa-site {
  display: flex;
  padding-left: 0;
}

.rodape__mapa-site li {
  justify-items: left;
  list-style-type: none;
  text-align: left;
}

.rodape__mapa-site__item:nth-child(n + 5) {
  display: none;
}

.rodape__mapa-site__item ul li {
  padding-left: 0px;
  list-style-type: none;
}

.rodape__mapa-site__item ul li a {
  font-size: 14px;
}

.rodape__mapa-site__item ul {
  padding-left: 0px;
  list-style-type: none;
}

.rodape__mapa-site__item > a {
  font-weight: 100;
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  .rodape__mapa-site__item {
    width: 100%;
    padding-bottom: 0;
    border-bottom: none;
    break-inside: avoid;
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
  }
}

.rodape__mapa-site__item a {
  color: white;
  text-decoration: none;
}
