@media screen and (min-width: 768px) {
  .rodape__mapa-site {
    -webkit-column-count: 4;
    -moz-column-count: 4;
  }
}

.rodape__mapa-site li {
  list-style-type: none;
}

.rodape__mapa-site__item ul li {
  list-style-type: none;
}

@media screen and (min-width: 768px) {
  .rodape__mapa-site__item {
    width: 100%;
    padding-bottom: 0;
    border-bottom: none;
    break-inside: avoid;
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
  }
}

.rodape__mapa-site__item a {
  color: white;
  text-decoration: none;
}
