.grid-with-image {
  display: flex;
  max-width: 1200px;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  margin: 20px auto;
}

.grid-link {
  display: grid;
  width: 100%;
  gap: 20px;
  grid-template-columns: repeat(3, 1fr);
}

.grid-item {
  display: flex;
  max-width: 350px;
  min-height: 272px;
  flex-direction: column;
  margin: 0 auto;
  background: #f9f9f9;
  text-align: center;
  transition:
    transform 0.2s ease-in-out,
    box-shadow 0.2s ease-in-out;
}

.grid-item:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transform: scale(1.05);
}

.grid-item .image {
  display: flex;
  overflow: hidden;
  width: auto;
  height: 200px;
  align-items: center;
  justify-content: center;
}

.grid-item .image img {
  width: 100%;
  min-width: 400px;
  height: 100%;
  object-fit: cover;
}

.grid-item .content h3 {
  display: -webkit-box;
  overflow: hidden;
  padding: 0 15px;
  margin: 15px 0;
  -webkit-box-orient: vertical;
  color: #333;
  font-size: 18px;
  -webkit-line-clamp: 2;
  text-align: left;
  text-overflow: ellipsis;
}

.grid-item .content {
  min-height: 100px;
}

.grid-item > * {
  justify-items: left;
}

.grid-item .content p {
  padding: 0 15px 15px 15px;
  color: #666;
  font-size: 14px;
}

@media (max-width: 992px) {
  .grid-link{
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 768px) {
  .grid-link{
    grid-template-columns: repeat(1,1fr);
  }
}