.header-wrapper {
  > :nth-child(3) {
    all: unset !important;
  }
  > :nth-child(2) {
    a {
      color: unset;
      font-size: unset;
    }
    a:hover {
      color: #f8f8f8 !important;
    }
  }
}

.header-wrapper .header .tools-wrapper {
  flex-direction: row !important;
}

.header {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.simbolo {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.header-titulo {
  margin-left: 30px;
  font-size: 24px;
  font-weight: 375;
  text-align: left;
}

.header-wrapper .header .logo-nav-wrapper {
  align-items: center;
}

