.header-wrapper > * {
  all: unset !important;
}

.header {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.simbolo {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.header-wrapper .header .logo-nav-wrapper {
  align-items: center;
}

@media (min-width: 768px) {
  .header {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .header {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .header {
    width: 1170px;
  }
}
