.endereco-wrapper > *:not(:empty) {
  padding: 5px 0 0 0;
}

.telefone-wrapper > *:not(:empty) {
  padding: 5px 0 0 0;
}

.titulo-wrapper-endereco {
  display: flex;
  align-items: center;
  padding: 20px 0 10px 0;
}

.titulo-endereco {
  margin-left: 10px;
  font-size: 25px;
  font-weight: 700;
}
