.footer-barra-procergs {
  display: flex;
  flex-direction: row;
  justify-content: end;
  padding: 0 15px;
  margin: 0 auto;
  gap: 30px;
}

#termos-de-uso {
  color: black;
  font-size: 0.8em;
}

#termos-de-uso:hover {
  text-decoration: underline;
}
