.simboloRS {
  width: 45px;
}

@media (min-width: 768px) {
  .simboloRS {
    width: 60px;
  }
}
@media (min-width: 992px) {
  .simboloRS {
    width: 80px;
  }
}
@media (min-width: 1200px) {
  .simboloRS {
    width: 80px;
  }
}
