name: Changelog check
on:
  pull_request:
    types: [assigned, opened, synchronize, reopened, labeled, unlabeled]
    branches:
      - main

env:
  NODE_VERSION: 20.x
  ADDON_NAME: volto-site-componentes

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          # Fetch all history
          fetch-depth: '0'

      - name: Install pipx (for Towncrier)
        run: pip install towncrier

      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: ${{ env.NODE_VERSION }}

      # Install pnpm directly (bypassing the built-in Corepack GPG checks)
      - name: Set up pnpm
        uses: pnpm/action-setup@v2
        with:
          # Optionally pin a specific version or use a range (e.g. 8.x)
          version: 8.x

      - name: Get pnpm store directory
        run: |
          echo "STORE_PATH=$(pnpm store path --silent)" >> $GITHUB_ENV

      - uses: actions/cache@v4
        name: Setup pnpm cache
        with:
          path: ${{ env.STORE_PATH }}
          key: ${{ runner.os }}-pnpm-store-${{ hashFiles('**/pnpm-lock.yaml') }}
          restore-keys: |
            ${{ runner.os }}-pnpm-store-

      - name: Install dependencies
        run: make install

      - name: Check for presence of a Change Log fragment (only pull requests)
        run: |
          # Fetch the pull request's base branch so towncrier can compare
          # the current branch with the base branch.
          git fetch --no-tags origin ${BASE_BRANCH}
          towncrier check --dir packages/${ADDON_NAME}
        env:
          BASE_BRANCH: ${{ github.base_ref }}
        if: github.event_name == 'pull_request'
